/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/var/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
/var/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/node_modules
/dist
.idea
.vagrant/
